.html, body {
margin: 0;
padding: 0;
font-family: 'Neucha', cursive;
background-image:
url("../img/он.jpg");
background-attachment:fixed ;
}

.maintitle{
font-size: 60px;
justify-content: center;
width: 100%;
text-align: center;
color: white;
text-shadow: 1px 1px 2px black;
margin-top: 3%;
}

.info{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 3%;
}

.first_info{
display:flex;
width: 100%;
justify-content: center;
}

.img_1{
width: 300px;
height: 100%;
}

.first_1{
background: rgba(232, 196, 107, 0.686);
width:300px;
text-align: center;
align-items: left;
}

.first_2{
background: rgba(156, 193, 233, 0.727);
width:300px;
text-align: center;
align-items: center;

}

.second_info{
    display:flex;
    width: 100%;
    justify-content: center;
    height: 300px;
    }

    .second_1{
        background: rgba(209, 164, 225, 0.686);
        width:300px;
        text-align: center;
        align-items: center;
        }
        
        .second_2{
        background: rgba(61, 206, 110, 0.522);
        width:300px;
        text-align: center;
        align-items: center;
        }

        .title{
font-size: 40px;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 2px black;
text-align: center;
        }

.text{
text-align: left;
font-size: 20px;
padding-left: 10px;
}

.ss{
text-decoration: none;
color: rgb(94, 122, 216);
}

.ss:hover{
    color: rgb(127, 87, 208);
    transition: .3s;
    }

    li{
    text-align: left;
    font-size: 20px;
    }























.footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 207, 248);
    margin-top: 5%;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    
    
    .footer_soc{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10px ;     
    }
    
    .f_img{
    width: 50px;
    height: 50px;
    
    }
    
    .f__img{
        width: 50px;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        }
    
    
        .f_img:hover{
            width: 60px;
            height: 60px;
            transition: .3s;
            
    
            
            }
            
            .f__img:hover{
                width: 60px;
                height: 60px;
                padding-left: 20px;
                padding-right: 20px;
                transition: .3s;
                
                }
    
    .f_text{
    font-size: 25px;
    font-family: 'Lobster', cursive;
    }

    .dog{
    width: 100%;
    display: flex;
    margin-top: 3%;
    }
    .photo{
    width: 30%;
    margin-left:5% ;
    align-items: center;
    
    }

    .img2{
border-radius:50% ;
width: 400px;
height: 400px;

    }

    .title2{
font-size: 35px;
color: rgb(255, 255, 255);
text-shadow: 1px 1px 2px black;
    }

    .text_2{
        font-size: 25px;
        color: rgb(0, 0, 0);
        width: 70%;
        align-items: center;
        text-align: center;
          
    }

    .table1{
    width: 100%;
    display: flex;
    justify-content: center;
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        text-align: center;
        border-collapse: collapse;
        border-radius: 20px;
        box-shadow: 0 0 0 10px #dcabe0;
        color: #3d373d;
        margin-top: 3%;
        justify-content: center;
        background-image: url("../img/т_фон.png");

        }
        th {
        padding: 10px 8px;
        
        }
        table th:first-child {
        border-top-left-radius: 20px;
        }
        table th:last-child {
        border-top-right-radius: 20px;
        }
        td {
        border-top: 10px solid #dcabe0;
        padding: 8px;
        
        }
        table td:first-child {
        border-bottom-left-radius: 20px;
        }
        table td:last-child {
        border-bottom-right-radius: 20px;
        }